body {
  background-color: #00000052;
}

html,
body,
#container {
  height: 100%;
}

#container {
  background-color: rgba(255, 235, 205, 0.178);
  display: flex;
  align-items: center;
  justify-content: center;
}
